(
  knots: [
    (
      position: (0.0, 0.0),
      interpolation: Constant,
      id: 1,
      left_tangent: (
        position: (-0.1, 0.0),
        mode: Aligned,
      ),
      right_tangent: (
        position: (0.1, 0.0),
        mode: Aligned,
      ),
    ),
    (
      position: (0.2, 0.4),
      interpolation: Linear,
      id: 2,
      left_tangent: (
        position: (-0.1, 0.0),
        mode: Aligned,
      ),
      right_tangent: (
        position: (0.1, 0.0),
        mode: Aligned,
      ),
    ),
    (
      position: (0.42947105, 0.601108),
      interpolation: Bezier,
      id: 5,
      left_tangent: (
        position: (-0.1, 0.0),
        mode: Aligned,
      ),
      right_tangent: (
        position: (0.06347606, 0.23556933),
        mode: Aligned,
      ),
    ),
    (
      position: (0.9626524, 0.5307082),
      interpolation: Linear,
      id: 4,
      left_tangent: (
        position: (-0.06725441, -0.13538468),
        mode: Aligned,
      ),
      right_tangent: (
        position: (0.1, 0.0),
        mode: Aligned,
      ),
    ),
    (
      position: (1.0, 1.0),
      interpolation: Linear,
      id: 3,
      left_tangent: (
        position: (-0.1, 0.0),
        mode: Aligned,
      ),
      right_tangent: (
        position: (0.1, 0.0),
        mode: Aligned,
      ),
    ),
  ],
)