(
  knots: [
    (
      position: (0.0, 0.0),
      interpolation: Bezier,
      left_tangent: (
        position: (0.0, 0.0),
        mode: Aligned,
      ),
      right_tangent: (
        position: (1.0, 0.0),
        mode: Aligned,
      ),
    ),
    (
      position: (1.0, 1.0),
      interpolation: Bezier,
      left_tangent: (
        position: (-1.0, 0.0),
        mode: Aligned,
      ),
      right_tangent: (
        position: (0.0, 0.0),
        mode: Aligned,
      ),
    ),
  ],
)